* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html {
  background-color: black;
}

header, main {
  width: 80%;
  margin: auto;
}

header {
  background-color: #1F2937;
  color: #F9FAF8;
  padding: 1rem 6rem 6rem 6rem;
}

.upper-header {
  color: #F9FAF8;
  display: flex;
  margin-bottom: 8rem;
}

.header-links > a {
  text-decoration: none;
  color: white; 
}

.lower-header {
  display: flex;
  gap: 4rem;
  margin: 0rem 10rem 0rem 10rem;
}

.header-logo {
  flex: 1;
  font-size: 1.5rem;
}

.header-links {
  flex: 1;
  display: flex;
  font-size: 18px;
  color: #F9FAF8;
  justify-content: space-around;
}


.left-lower-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.left-lower-header > p {
  font-size: 18px;  
  color: #E5E7EB;
}

.left-lower-header > button {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  width: 8rem;
}

.left-lower-header > h1 {
  font-size: 48px;
  font-weight: 800;
}

.right-lower-header {
  background-color: grey;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #F9FAF8;
}

article {
  text-align: center;
}

article > h1 {
  padding-top: 2rem;
  font-weight: 800;
  font-size: 24px;
}

.card-container {
  display: flex;
  margin: 2rem 12rem 4rem 12rem;
  justify-content: space-around;
  gap: 5rem;
  flex: 1;
}

.frame {
  border: 4px solid #3882F6;
  height: 150px;
  border-radius: 25px;
}

.quote {
  padding: 5% 25% 5% 25%;
  background-color: #E5E7EB;
  color: #1F2937;
  font: 36px italic ;
  font-weight: 300;
  text-align: justify;
}

#author {
  font-weight: 900;
}

.signup {
  padding: 5% 10% 5% 10%;
}

.signup-container {
  padding: 5% 15% 5% 15%;
  background-color: #3882F6;
  display: flex;
  border-radius: 10px;
}
.text-signup {
  color:#E5E7EB;
  text-align: left;
  flex: 2;
}

#title-text-signup {
  font-size: 28px;
  font-weight: 800;
}

#paragraph-text-signup { 
  font-size: 18px;
}

#signup-button {
  padding: 0rem 2.5rem 0rem 2.5rem;
  font-size: 24px;
  color:#E5E7EB;
  background-color: #3882F6;
  border: #F9FAF8 2px solid;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #E5E7EB;
  padding: 2rem;
  margin: 0 auto;
  width: 80%;
  font-size: 18px;
  color: #F9FAF8;
}